@import "tailwindcss";
@import "tw-animate-css";
@import "@mijn-ui/react-core/theme.css";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../components";

@layer base {
  * {
    @apply border-outline-default;
  }

  body {
    @apply bg-bg-default text-fg-default;
    font-family: "Inter", sans-serif;
  }
}
