/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--mijnui-border));
  }

  body {
    background-color: hsl(var(--mijnui-background));
    color: hsl(var(--mijnui-foreground));
    font-family: "Inter", sans-serif;
  }
}
